/* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
} */

body{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color:#888888
}

h1{
    color: #dd5555;
    text-align: center;
}

h2{
    text-align: center;
}

header{
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px #b4b4b4;
    width:500px;
    margin: auto;  
    padding: 10px;
    text-align: justify;
    text-justify: auto;
    margin-top: 20px;
}

header img{

    display: block;
    margin:auto;
    border-radius: 50%;
    border: 2px solid skyblue;
}

header a{
    color:white;
    background-color: #dd5555;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    text-align: center;

}

aside{
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px #b4b4b4;
    width:500px;
    margin: auto; 
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-flow: row wrap;
    padding: 10px;
    margin-top: 20px;

}

article{
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px #b4b4b4;
    width:500px;
    margin: auto;
    padding: 10px;
    margin-top: 20px;

}

.icones{
    margin: auto;
}